<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.konacloud.busuy"
	version 	= "1.0.0">

	<name>Bus UY</name>

	<description>
		Aplicacion para buscar omnibus interdepartamentales en Uruguay
	</description>

	<author href="http://konacloud.io"
		email="santiago@konacloud.io">
		Santiago Cotto
	</author>

	<gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />

	<icon src="icon_app.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- These rules lets demo.vaadin.com take over the web view created by cordova/phonegap -->
	<preference name="stay-in-webview" value="true" />

</widget>
